.Introduction-allContainer{
    position: relative;
    width: 100wh;
    height: 90vh;

}

.Introduction-container{
    width: 100%;
    /* height: 85vh; */
    height: 90vh;
    /* min-height: 1700px; */
    
}

.Introduction-image{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 251px;
    background-image: url("../../../assets/image/topPaper.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    clip-path:  polygon(74% 90%, 122% 0, 100% 100%, 85% 100%, 0 100%, 0 0);
    background-color: white;
    z-index: 2;
}

/*
    .Introduction-image{ */
    /* width: 100%;
    height: 100%; */

    /* position: absolute; */

    /* max-height: 100%; */

    /* parallax clavado */
    /* position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ; */
    /* parallax bg */
/* } */


.Introduction-action{
    position: absolute;
    opacity: 0.5 ;
    /* bottom: 30; */
    right: 30px;
    top:10px;


}
