.Introduction-allContainer{
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;

}

.Introduction-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.Introduction-container-bg1{
    width: 100%;
    min-width: 100%;
    /* height: 85vh; */
    height: 90vh;
    /* min-height: 1700px; */
    position: relative;
}

/* button */

.Intro-button-container
{
    left: 20%;
    top: 40%;
    width: 60%;
    min-width:60% ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    overflow: hidden;
    /* height: 20vh; */
    /* display: grid; */
    /* place-items: center; */
    /* margin: 18% 0%; */
    background-color: red;
    
}
.Intro-3000-container{
    left: 20%;
    top: 5%;
    width: 60%;
    min-width:60% ;
    height: 65%;
    position: relative;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    overflow: hidden; */
    /* height: 20vh; */
    /* display: grid; */
    /* place-items: center; */
    /* margin: 18% 0%; */
    /* background-color: red; */


}
/* .Intro-3000-logo{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 30%;
    z-index: 2;
}
.Intro-3000-detail{
    position: absolute;
    top:13%;
    right: 10%;
    width: 50%;
    height: 80%;
    border-radius: 50%;
    background-color: lightblue;
    padding: 10% 8%;
    display: flex;
        justify-content: center;
        align-items: space-around;
    text-align: center;    
    font-size: 1.5rem ;
    color: green;
} */

.Intro-3000-detail {
    position: absolute;
    top: 4%;
    left: 10%;
    width: 70%;
    height: 95%;
    min-width: 70%;
    max-width: 70%;

    z-index: 2;


}


/* controles */

.Introduction-arrow{
    width: 100px;
    height: 100px;
    color: white;
}

.Introduction-controles-izquierda{
    position: absolute;
    left: 10%;
    bottom: 50%;
    border: none;
    background-color: transparent;
    width: 100px;
    display: grid;
        place-items: center;
    border-radius: 50%;
}

.Introduction-controles-derecha{
    position: absolute;
    right: 10%;
    bottom: 50%;
    border: none;
    background-color: transparent;
    width: 100px;
    border-radius: 50%;
    display: grid;
        place-items: center;
    border-radius: 50%;
}



















.Introduction-image{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 251px;
    background-image: url("../../../assets/image/topPaper.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    clip-path:  polygon(74% 90%, 122% 0, 100% 100%, 85% 100%, 0 100%, 0 0);
    background-color: white;
    z-index: 2;
}

/*
    .Introduction-image{ */
    /* width: 100%;
    height: 100%; */

    /* position: absolute; */

    /* max-height: 100%; */

    /* parallax clavado */
    /* position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ; */
    /* parallax bg */
/* } */


/* .Introduction-action{
    position: absolute;
    opacity: 0.5 ; */
    /* bottom: 30; */
    /* right: 30px;
    top:10px;
} */

@media (max-width: 760px) {
    .Introduction-allContainer{
        position: relative;
        width: 100%;
        height: 90vh;


    }
    .Introduction-container{
        width: 100%;
        /* height: 85vh; */
        height: 90vh;
        /* min-height: 1700px; */
    }

    
}