.Carousel-container{
    width: 100%;
    height: 100%;
    background-color: aqua;
    overflow: hidden;
    
}

.Carousel-slide{
    width: 100%;
    /* background-color: black; */
    /* overflow: hidden; */
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.Carousel-slide img{
    width: 100vw;
    height: 100vh;
}
/* .Carousel-controles{

} */

.Carousel-controles-izquierda{
    position: absolute;
    left: 10%;
    bottom: 50%;
}

.Carousel-controles-derecha{
    position: absolute;
    right: 10%;
    bottom: 50%;
}

 