.Carousel-container{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    overflow: hidden;
}

.Carousel-slide{
    width: 100%;
    /* height: 1500px; */
    /* background-color: black; */
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.Carousel-slide img{
    width: 100%;
    min-width: 100%;
    height: 100%;
    
}


/* for parallax */
/* .Carousel-img1{
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-image: url('../../../../assets/image/beneficio1.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ; 
}
.Carousel-img2{
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-image: url('../../../../assets/image/beneficio2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ; 
}
.Carousel-img3{
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-image: url('../../../../assets/image/beneficio3.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ; 
} */

/* .Carousel-controles{
    border: none;
}

.Carousel-controles:hover{
} */


.Carousel-arrow{
    width: 100px;
    height: 100px;
    color: green;
}



.Carousel-controles-izquierda{
    position: absolute;
    left: 10%;
    bottom: 40%;
    border: none;
    background-color: transparent;
    width: 100px;
    display: grid;
        place-items: center;
    border-radius: 50%;

}

.Carousel-controles-derecha{
    position: absolute;
    right: 10%;
    bottom: 40%;
    border: none;
    background-color: transparent;
    width: 100px;
    border-radius: 50%;
    display: grid;
        place-items: center;
    border-radius: 50%;
}

.Carousel-controles-derecha:hover,
.Carousel-controles-izquierda:hover{
    background-color: white;
    opacity: 0.5;
}

@media (max-width: 750px) {
    .Carousel-controles{
        display: none;
    }
}

 