@keyframes fadeIn {
    from {
        filter: blur(5px);
        opacity: 0;
    }
    to{
        filter: blur(0);
        opacity: 1;
    }
}

.MVC-container-background{
    position: relative;
    width: 100%;
    height: 110vh;
    margin: 0 auto;
    /* margin-bottom: 50px; */
    background-image: url("../../../assets/image/middlepaper.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.MVC-container-arrowDown{
    position: absolute;
    top: -10px;
    left : calc(50% - 50px);
    /* background-color: blue; */
    width: 100px;
    height: 50px;
    color: #2aa60b;

}


.MVC-cards-container{
    width: 80%;
    /* background-color: aqua; */
    /* height: 40vh; */
    height: 55vh;
    margin: 0 auto;
    padding: 5% 10% 0 10%;

    display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        place-items: center;
}
.MVC-card{
    width: 95%;
    min-width: 10%;
    height: 90%;
    /* min-width: 20%; */

    /* max-height: 260px; */
    border-radius: 15px;
    padding:10px 10px ;
    background-color: #00554a;
    display:flex;
        flex-direction: column;
        align-items: center;
    overflow: hidden;
    animation-duration: 2s;
    animation-name: fadeIn;
}
.MVC-card h1{
    margin: 10px;
    color: white;
}

.MVC-card span{
    color: white;
}
 .MVC-card p{
    color: #2aa60b;
    font-family: 'Montserrat', sans-serif;}

.MVC-card img{
    margin: 10px;
    color: #2aa60b;
    font-family: 'Montserrat', sans-serif;

}



.MVC-detail-container{
    width: 80%;
    /* background-color: bisque; */
    height: 60vh;
    padding: 0% 10%;
    margin: 0 auto;
    /* padding: 0 0% 0 15%; */
    
    
    display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        place-items: center;
        gap: 10px;
    
    /* display:flex; */
        /* justify-content: center; */
        /* align-items:flex-start; */
}
.MVC-detail-title{
    width: 100%;
    min-width: 20%;
    height: 50%;
    /* background-color:red; */

    display:flex;
        flex-direction: column;
        align-items: flex-start;
    overflow: hidden;
    animation-duration: 2s;
    animation-name: fadeIn;
}

.MVC-detail-title h1{
    margin-bottom: 10px;
    color: #00554a;
}

.MVC-detail-title p{
    margin-bottom: 10px;
    color: #2aa60b;
    font-family: 'Montserrat', sans-serif;
}

.MVC-hand{
    position:absolute;
    bottom: 0;
    right: 0;
}


@media (max-width: 1000px) {
    .MVC-hand{
        display: none;
    }

    .MVC-container-arrowDown{
        display: none;
       }
   
       .MVC-container-background{
           position: relative;
           width: 100%;
           height: auto;
           margin: 0 auto;
           /* margin-bottom: 50px; */
           background-image: url("../../../assets/image/middlepaper.png") ;
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;
       }
   
       .MVC-cards-container{
           width: 100%;
           /* background-color: aqua; */
           /* height: 40vh; */
           height: 100%;
           margin: 0 auto;
           padding: 0% 10% 0 10%;
       
           display: grid;
               grid-template-columns: 1fr  ;
               place-items: center;
               gap: 10px;
       }
       .MVC-card{
           width: 100%;
           min-width: 10%;
           height: auto;
           /* min-width: 20%; */
           /* max-height: 260px; */
           border-radius: 15px;
           padding: 20px 20px;
           background-color: #00554a;
           display: flex;
           flex-direction: column;
           align-items: center;
           overflow: hidden;
           animation-duration: 2s;
           animation-name: fadeIn;
           font-size: 1rem;
       }
   
       .MVC-card h1{
           margin: 2px;
           color: white;
       
       }
       
       .MVC-card img, .MVC-card p{
           margin: 2px;
           color: #2aa60b;
           font-family: 'Montserrat', sans-serif;
       }
   
       .MVC-detail-container{
           width: 100%;
           /* background-color: bisque; */
           height: auto;
           padding: 0% 10%;
           margin: 0 auto;
           /* padding: 0 0% 0 15%; */
           
           
           display: grid;
               grid-template-columns: 1fr ;
               place-items: center;
               gap: 0;
           
           /* display:flex; */
               /* justify-content: center; */
               /* align-items:flex-start; */
       }
       .MVC-detail-title{
           width: 100%;
           min-width: 20%;
           height: auto;
           /* background-color:red; */
       
           display:flex;
               flex-direction: column;
               align-items: flex-start;
           overflow: hidden;
           animation-duration: 2s;
           animation-name: fadeIn;
       }
   
       .MVC-detail-title h1{
           margin-bottom: 10px;
           color: #00554a;
       }
       
       .MVC-detail-title p{
           margin-bottom: 10px;
           color: #2aa60b;
           font-family: 'Montserrat', sans-serif;
       }
   
       .MVC-detail-title img{
           margin-bottom: 10px;
       }
}



/* 
.MVC-detail-information{
    width: 100%;
    min-width: 20%;
    height: 150px;
    margin: 0 20px ;
    background-color:red;

    display:flex;
        flex-direction: column;
        align-items: flex-start;
    overflow: hidden;
    animation-duration: 2s;
    animation-name: fadeIn;

} */

