.KukaIntro-Menu{
    position: absolute;
    top:320%;
    left:20%;
    border-radius: 8px;
    width:300px;
    height: 200px;
    padding: 20px;
    z-index: 2;
    background-color: rgba(255,255,255, 0.3);
}

.KukaIntro-Menu h2{
    margin-bottom: 5%;
    border-bottom: 1px solid black;
}
