@keyframes fadeIn {
    from {
        filter: blur(5px);
        opacity: 0;
    }
    to{
        filter: blur(0);
        opacity: 1;
    }
}
.FAQS-grid{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
        justify-content: center;
        align-items: center;
    animation-duration: 2s;
    animation-name: fadeIn ;
    padding: 10px;
    transition: background-color,400ms linear;
    color: white;
    text-align: center;
}

.FAQS-grid:hover{
    border-radius: 15px;
    width: 110%;
    height: 110%;
    background-color: #ea9a4a;
    display: flex;
        justify-content: center;
        align-items: center;
    padding: 10px;
    animation-duration: 1s;
    animation-name: fadeIn ;
    color: white;
}