@keyframes fadeIn {
    from {
        filter: blur(5px);
        opacity: 0;
    }
    to{
        filter: blur(0);
        opacity: 1;
    }
}
.FAQS-grid{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
        justify-content: center;
        align-items: center;
    animation-duration: 2s;
    animation-name: fadeIn ;

    transition: background-color,400ms linear;
}

.FAQS-grid:hover{
    border-radius: 15px;
    width: 105%;
    height: 105%;
    background-color: yellow;
    display: flex;
        justify-content: center;
        align-items: center;
    animation-duration: 1s;
    animation-name: fadeIn ;
}