

.FAQS-container{
    background-color: cadetblue;
    width: 100%;
    height: 100vh;
    display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        background-image: url('../../../assets/image/paper.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover ; 
/* 
        background-image: url("../../../assets/image/topPaper.png") ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */
    
    
}

.FAQS-grids{
    /* background-color: aliceblue; */
    width: 60%;
    height: 60%;
    display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 30px
}

.FAQS-container h1{
    color:#00554a ;

}


.FAQS-arrowUp{
    /* background-color: blue; */
    width: 115px;
    height: 70px;
    color: #2aa60b;
    z-index:3;

}



@media (max-width: 760px) {
    .FAQS-container{
        height: auto;
    }

    .FAQS-grids{
        /* background-color: aliceblue; */
        /* width: 50%; */
        /* height: 60%; */
        display: grid;
            place-items: center;
            grid-template-columns: 1fr ;
            gap: 30px
    }
    
}


