.FAQS-container{
    background-color: cadetblue;
    width: 100%;
    height: 100vh;
    display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
}

.FAQS-grids{
    background-color: aliceblue;
    width: 50%;
    height: 50%;
    display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 10px
}

.FAQS-grid{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
        justify-content: center;
        align-items: center;
}