.Mapa-container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
}
.Mapa-title{
    position: absolute;
    top:10%;
    left: 20%;
}

.Mapa-title{
    color: #00554a;

}

.Mapa-img{
    width: 100%;
    height: 100%;
}

.Mapa-localization{
    position: absolute;
    width: 4%;
    height: 9%;
}

.iconLocalization1{
    top:30%;
    right: 44.89%;
}
.iconLocalization2{
    top:39.7%;
    right: 28.5%;
}
.iconLocalization3{
    top:60.5%;
    right: 34%;
}
.iconLocalization4{
    top:64%;
    left: 34.7%;
}
.iconLocalization5{
    top:40.8%;
    left: 38.6%;
}
.iconLocalization6{
    top:25.8%;
    left: 30.6%;
}

.iconLocalization1:hover,
.iconLocalization2:hover,
.iconLocalization3:hover,
.iconLocalization4:hover,
.iconLocalization5:hover,
.iconLocalization6:hover,
.iconLocalization7:hover{
    background-color: black;
    border-radius: 15px;
    z-index: 2;
    opacity: 0.5;
}


.Mapa-detail{
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}







.Mapa-detail-localization1{
    border-radius: 15px;
    padding: 10px;
    background-color: white;

    position: absolute;
    top:15%;
    right: 19%;
    border: solid blue ;
    /* opacity: 0; */
}

.Mapa-detail-localization2{

    border-radius: 15px;
    padding: 10px;
    background-color: white;

    position: absolute;
    top:36%;
    right: 2%;
    border: solid blue ;
    /* opacity: 0; */
}

.Mapa-detail-localization3{
    border-radius: 15px;
    padding: 10px;
    background-color: white;

    position: absolute;
    top:68%;
    right: 5%;
    border: solid blue ;
    /* opacity: 0; */
}
.Mapa-detail-localization4{
    border-radius: 15px;
    padding: 10px;
    background-color: white;

    position: absolute;
    top:60%;
    left: 8%;
    border: solid red ;
    /* opacity: 0; */
}

.Mapa-detail-localization5{

    border-radius: 15px;
    padding: 10px;
    background-color: white;

    position: absolute;
    top:36%;
    left: 10%;
    border: solid orange ;
    /* opacity: 0; */
}

.Mapa-detail-localization6{
    border-radius: 15px;
    padding: 10px;
    background-color: white;

    position: absolute;
    top:15%;
    left: 5%;
    border: solid red ;
    /* opacity: 0; */
}

.Mapa-detail-localization1:hover,
.Mapa-detail-localization2:hover,
.Mapa-detail-localization3:hover,
.Mapa-detail-localization4:hover,
.Mapa-detail-localization5:hover
{
    opacity:1;
}