.Mapa-container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    margin-top: 100px;
}
.Mapa-title{
    position: absolute;
    top:-10%;
    left: 20%;
    color: #00554a;
}

.Mapa-img{
    width: 100%;
    height: 100%;
}

.Mapa-localization{
    position: absolute;
    width: 4%;
    height: 9%;
}

.iconLocalization1{
    top:-6.9%;
    right: 44.8%;
}
.iconLocalization2{
    top:21%;
    right: 48.4%;
}
.iconLocalization3{
    top:47.5%;
    right: 65.8%;
}
.iconLocalization4{
    top:9.5%;
    left: 35.5%;
}
.iconLocalization1:hover,
.iconLocalization2:hover,
.iconLocalization3:hover,
.iconLocalization4:hover{
    background-color: black;
    border-radius: 15px;
    z-index: 2;
    opacity: 0.5;
}

.Mapa-detail{
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    
}

.Mapa-detail-title{
    display: flex;
    justify-content: space-between;
}



.Mapa-detail-localization1{
    position: absolute;
    top:-5%;
    right: 15%;
    border: solid red ;
    /* opacity: 0; */
}

.Mapa-detail-localization2{
    position: absolute;
    top:20%;
    right: 20%;
    border: solid blue ;
}

.Mapa-detail-localization3{
    position: absolute;
    top:45%;
    left: 5%;
    border: solid blue ;
}
.Mapa-detail-localization4{

    position: absolute;
    top:10%;
    left: 8%;
    border: solid red ;
}

.Mapa-detail-localization1:hover,
.Mapa-detail-localization2:hover,
.Mapa-detail-localization3:hover,
.Mapa-detail-localization4:hover{
    opacity:1;
}

@media (max-width: 1000px) {
    .Mapa-container{
        height: 70vh;
    }

    .Mapa-title{
        position: absolute;
        top: -15%;
        left: 10%;
        color: #00554a;
        text-align: center;
    }
    .iconLocalization1:hover,
    .iconLocalization2:hover,
    .iconLocalization3:hover,
    .iconLocalization4:hover,
    .iconLocalization5:hover,
    .iconLocalization6:hover,
    .iconLocalization7:hover{
        background-color: black;
        border-radius: 15px;
        z-index: 2;
        opacity: 0;
    }
    .Mapa-detail{
        width: 70%;
        height: auto;
        border-radius: 15px;
        padding: 10px;
        background-color: white;
        display: flex;
            flex-direction: column;
        word-wrap: break-word; 
    }

}